.academic__courses__box{
    width: 368px;
    height: 266px;
    padding: 16px;
    gap: 10px;
    background-color:#FFFFFF ;
    margin-top: 3rem;
}   

@media screen and (max-width: 768px){
    .academic{
        flex-direction: column;
        width: 266px;
        height: 118px;
        padding: 16px;
        gap: 10px;
    } 
}